.parrafos{
   font-size:360%;
   color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.carousel-item img {
  height: 350px;     /* tú eliges la altura */
   /* recorta la imagen sin deformarla */
  width: 100%;
    object-fit: contain;
    align-items: center;

}


body{
    background-image: url("fondo_dulceeria.png");
     background-size: cover;
  background-repeat: repeat; 
  background-position: center;
}




.tamaño_imagen img{
 width: 120px;
    height: 120px;
    border-radius: 60px;
    object-fit: cover;
    margin-top: 10px;
 
}
.tamaño_imagen{
     display: flex;
    flex-direction: column; /* TÍTULO ARRIBA */
    align-items: center;
    text-align: center;
    width: 200px;
    
}
#texto{
    font-size: 40px;
    text-align: center;
}
#formulario{
    display:flex;
}
#buscar_Producto{
    display: flex;
    font-size: 40px;
    
}
#texto{
    text-align: center;
}


h1{
    text-align: center;
    color: white;
    font-size: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bold;
}


.diseño_texto{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.nav-link{
      font-weight: bold;
      color: white;

}

.carousel{
     margin: 80px auto; /* separa del texto y lo centra */
  display: block;
}

.Price{

    color:white;

}
.imagen_Busqueda {
     width: 170px;      /* tamaño ajustado */
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  text-align: right;
}
.boton-carrito{
    color:white;
    background-color: rgba(0, 0, 0, 0.452);
    
}